
#app {
  margin: 0 auto;
  padding: 1rem;

  font-weight: normal;
  font-family: LarkHackSafariFont, LarkEmojiFont, LarkChineseQuote, Microsoft YaHei, -apple-system, BlinkMacSystemFont, Helvetica Neue, Tahoma, PingFang SC, Microsoft Yahei, Arial, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}